body {
    margin: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
    font-family: "Roboto", sans-serif;
}

.welcome-container {
    width: 100vw;
    height: 100vh;
}

.error-message {
    color: red;
    text-align: center;
}
