body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #e3ecd8;
}

main {
    min-height: 100vh;
}

.home-img-card {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

input[name="findArticles"] {
    background-color: #ffffff;
    border-radius: 4px;
}

.articleList-img-card {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.small-round-profile-pic {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 40px;
}

.big-article-pic {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.big-round-profile-pic {
    height: 125px;
    width: 125px;
    object-fit: cover;
    border-radius: 70px;
}

.fake-map-img {
    height: 269px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.article-text-container > * {
    margin: 0;
}

/* override button contained color secondary hover */
/* .MuiButton-contained.MuiButton-containedSecondary:hover {
    background-color: ;
} */
